body{
    background-color: #808080;
}

h1{
    color:#9cd082;
}
p,h2,h3{
    text-align:center;
}

.header{
    background-color: blueviolet ;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}